:root {
  --background: oklch(0.985 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.145 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.945 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.945 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.715 0.185 231.6);
  --accent-foreground: oklch(0.145 0 0);
  --destructive: oklch(0.577 0.245 27.33);
  --destructive-foreground: oklch(0.985 0 0);
  --border: oklch(0.145 0 0);
  --input: oklch(1 0 0);
  --ring: oklch(0.715 0.185 231.6);
  --chart-1: oklch(0.715 0.185 231.6);
  --chart-2: oklch(0.628 0.258 29.23);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 142.5);
  --sidebar: oklch(0.945 0 0);
  --sidebar-foreground: oklch(0.205 0 0);
  --sidebar-primary: oklch(0.145 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.715 0.185 231.6);
  --sidebar-accent-foreground: oklch(0.145 0 0);
  --sidebar-border: oklch(0.145 0 0);
  --sidebar-ring: oklch(0.715 0.185 231.6);
  --radius: 0rem;
  --shadow-2xs: none;
  --shadow-xs: none;
  --shadow-sm: none;
  --shadow: none;
  --shadow-md: none;
  --shadow-lg: none;
  --shadow-xl: none;
  --shadow-2xl: none;
  --tracking-normal: 0.01em;
  --spacing: 0.25rem;

  @variant dark {
    --background: oklch(0.1 0 0);
    --foreground: oklch(0.945 0 0);
    --card: oklch(0.145 0 0);
    --card-foreground: oklch(0.945 0 0);
    --popover: oklch(0.145 0 0);
    --popover-foreground: oklch(0.945 0 0);
    --primary: oklch(0.945 0 0);
    --primary-foreground: oklch(0.1 0 0);
    --secondary: oklch(0.205 0 0);
    --secondary-foreground: oklch(0.945 0 0);
    --muted: oklch(0.205 0 0);
    --muted-foreground: oklch(0.556 0 0);
    --accent: oklch(0.715 0.185 231.6);
    --accent-foreground: oklch(0.945 0 0);
    --destructive: oklch(0.577 0.245 27.33);
    --destructive-foreground: oklch(0.985 0 0);
    --border: oklch(0.945 0 0);
    --input: oklch(0.205 0 0);
    --ring: oklch(0.715 0.185 231.6);
    --chart-1: oklch(0.715 0.185 231.6);
    --chart-2: oklch(0.628 0.258 29.23);
    --chart-3: oklch(0.769 0.188 70.08);
    --chart-4: oklch(0.627 0.265 303.9);
    --chart-5: oklch(0.645 0.246 142.5);
    --sidebar: oklch(0.145 0 0);
    --sidebar-foreground: oklch(0.945 0 0);
    --sidebar-primary: oklch(0.945 0 0);
    --sidebar-primary-foreground: oklch(0.1 0 0);
    --sidebar-accent: oklch(0.715 0.185 231.6);
    --sidebar-accent-foreground: oklch(0.945 0 0);
    --sidebar-border: oklch(0.945 0 0);
    --sidebar-ring: oklch(0.715 0.185 231.6);
    --radius: 0rem;
    --shadow-2xs: none;
    --shadow-xs: none;
    --shadow-sm: none;
    --shadow: none;
    --shadow-md: none;
    --shadow-lg: none;
    --shadow-xl: none;
    --shadow-2xl: none;
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --radius-sm: 0rem;
  --radius-md: 0rem;
  --radius-lg: 0rem;
  --radius-xl: 0rem;

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);

  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-normal: var(--tracking-normal);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
}
